/* Base Application Styles */

.hero-list {
  margin: 10px;
  padding: 10px;
}

.hero-card {
  border: 1px solid black;
  display: inline-block;
  margin-bottom: 10px;
  min-height: 175px;
  min-width: 145px;
  padding: 10px;
}

.img-container {
  margin-bottom: 10px;
}

.active .img-thumbnail {
  border-color: red;
}

.hero-profile {
  margin-top: 40px;
  position: relative;

}

.ablility {
  margin: 10px;
  padding-left: 20%;
}

.ablility-name, .ablility-value {
  display: inline-block;
  min-width: 50px;
}

.ablility .btn {
  margin: 0 10px;
}

.profile-footer {
  bottom: 0;
  position: absolute;
  right: 0;
  margin-bottom: 10px;
}

.profile-footer span {
  margin: 0 5px;
}

@media only screen and (max-width: 768px) {
  .ablility {
    padding-left: 0;
    text-align: center;
  }

  .profile-footer {
    margin: 15px;
    position: relative;
    text-align: center;
  }
}

